@import '../styles/colors';
@import '../styles/mixins';

#landing {
  @include center;
  min-height: calc(100vh - 2rem);
}

#landing header {
  font-weight: bolder;
  font-size: 3rem;
  text-align: center;
}

#landing .lead {
  margin: 2em 0;
  text-align: justify;
  font-size: 1.5rem;
}

.landing-button {
  display: inline-block;
  max-width: 50%;
  font-size: 1.5rem;
  border-radius: 0.15rem;
  background-color: $primary;
  color: white;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5em 1em;
}
