# bot
dog_config.py
dog_config.production.py
*.log
dog_blocked.json
config*.yml

# rips
*.zip

# docs
documentation/build

# idea
.idea

# deployment
fabfile.py
playbook.retry

# python
__pycache__
*.pyc
venv
.venv
