discord.py-lifesaver @ git+https://github.com/slice/lifesaver.git
discord.py @ git+https://github.com/Rapptz/discord.py.git@rewrite#3f06f247c039a23948e7bb0014ea31db533b4ba2

quart==0.8.1
pytz==2018.3
geopy
