git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice]
discord.py-lifesaver @ git+https://github.com/slice/lifesaver.git
jishaku @ git+https://github.com/Gorialis/jishaku.git

quart==0.8.1
pytz==2018.3
geopy
