discord.py
discord.py-lifesaver @ git+https://github.com/slice/lifesaver.git
jishaku @ git+https://github.com/Gorialis/jishaku.git

asyncpg
hypercorn==0.6.0
quart==0.8.1
pytz==2018.3
geopy
Pillow
ruamel.yaml
