aioredis
arrow
asyncpg
beautifulsoup4
datadog
git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice]
objgraph
parsedatetime
Pillow
praw
psutil
pynacl
pyowm
raven
ruamel.yaml>=0.15
timeago
wand
youtube_dl
bugsnag
