$primary: hsl(270, 100%, 70%);
$gray: hsl(0, 0%, 92%);
$light-gray: hsl(0, 0%, 95%);

$text-bg: #fff;
$text-fg: #222;

:root {
  --primary: #{$primary};
  --gray: #{$gray};
  --light-gray: #{$light-gray};
  --text-bg: #{$text-bg};
  --text-fg: #{$text-fg};
}
