p,
ul,
li {
  line-height: 2;
}
.feature-list .fa {
  width: 1.2em;
  text-align: center;
  margin-right: 0.5em;
}
.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}
.links .link {
  display: block;
  background: #242424;
  margin: 0.5rem 0.5rem;
  padding: 1rem 2rem;
  color: inherit;
  text-decoration: inherit;
  border-radius: 0.2rem;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}
.links .link:hover {
  background: #2c2c2c;
  -webkit-transform: translateY(-0.15em);
          transform: translateY(-0.15em);
}
.links .link:active {
  background: #202020;
}
.links .link .fa {
  margin-right: 0.5em;
}
.portions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 5rem;
  display: flex;
}
.portions .portion {
  margin: 0 1rem;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
html,
body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Montserrat;
  font-size: 12pt;
  background: #141414;
  color: #dbdbdb;
}
::-moz-selection {
  background: #141414;
}
::selection {
  background: #141414;
}
* {
  box-sizing: border-box;
}
