@import 'styles/colors';

body {
  margin: 0;
  padding: 0;

  color: $text-fg;
  background: $text-bg;

  font-size: 16px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#content {
  max-width: 850px;
  padding: 1rem;
  margin: 0 auto;
}
