@import '../styles/colors';

.guild {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 1rem;

  .name {
    display: block;
    font-size: 1.25rem;
    margin-left: 1rem;
    font-weight: bold;
  }

  &:hover {
    border-radius: 0.15rem;
    background: $light-gray;
    cursor: pointer;
  }
}
