@import '../styles/colors';

nav {
  padding: 1rem 2rem;
  background: $gray;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  h1 {
    font-size: 1rem;
    margin: 0 1rem 0 0;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }
}

#status {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  #status-circle {
    width: 0.75rem;
    height: 0.75rem;
    flex-shrink: 0;
    display: inline-block;
    border-radius: 100%;
    margin-right: 0.5rem;
  }

  #status-text {
    white-space: nowrap;
    overflow: hidden;
  }
}

@keyframes status-text-hide {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}
